[user]
    email = {{ .default_email }}
    name = {{ .default_name }}
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    p = pull
    f = fetch
    l = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -15
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    root = rev-parse --show-toplevel
[core]
    pager = "diff-so-fancy"
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = "red bold"
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "diff"]
    meta = "yellow"
    frag = "magenta bold"
    commit = "yellow bold"
    old = "red bold"
    new = "green bold"
    whitespace = "red reverse"
[pager]
    status = true
[credential]
    helper = cache --timeout=3600
[init]
    defaultBranch = main
[pull]
    rebase = true
[rebase]
    autoStash = true
[push]
    autoSetupRemote = true
{{- if .work_email }}
[includeIf "gitdir:{{ .work_folder }}/"]
    path = ~/.gitconfig-work
{{- end }}
