[global_config]
  inactive_color_offset = 0.88
  title_font = Sans 26
  title_transmit_bg_color = "#ff001a"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    allow_bold = False
    background_color = "#1e1e1e"
    cursor_color = "#b8b8b8"
    font = Liberation Mono 10
    foreground_color = "#f6f6e2"
    scrollback_infinite = True
    scrollback_lines = 5000
    show_titlebar = False
    use_system_font = False
